DB_USER=rawlake
DB_PASSWORD=rawlake
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rawlake
PREFECT_UI_PORT=4200
PREFECT_SERVER_UI_API_URL=http://localhost:4200/api
LOG_LEVEL=INFO
RAWLAKE_LOCAL_ROOT=/mnt/datalake
